/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
/* selesai import */

/* global style */
body{
    background: #f6f7fb;
}

.side-left {
    float: left;
    width: 310px;
    overflow: hidden;
}
/* side left shortcut */
.side-left .shortcut {
    width: 70px;
    height: 100%;
    background: linear-gradient(0deg, rgba(37,149,245,1) 0%, rgba(32,61,209,1) 100%);
    float: left;
}

.side-left .shortcut .emblem { 
    width: 70px;
    overflow: hidden;
    background: #021B79;
    padding-top: 17px;
    padding-bottom: 17px;
}

.side-left .shortcut .menus {
    width: 70px;
    overflow: hidden;
    margin-top: 200px;
}

.side-left .shortcut .menus .inactive {
   background: none !important;
   transition: all 1s;
}

.side-left .shortcut .menus .inactive .icon-item-menu {
    opacity: 0.2 !important;
    transition: all 1s;
}

.side-left .shortcut .menus .inactive:hover {
    background: #021B79 !important;
    transition: all 1s;
 }

 .side-left .shortcut .menus .inactive:hover .icon-item-menu {
    opacity: 1 !important;
    transition: all 1s;
}

.side-left .shortcut .menus .item-menu {
    width: 45px;
    height: 45px;
    background: #021B79 ;
    border-radius: 14px;
    margin: auto;
    margin-bottom: 20px;
}

.side-left .shortcut .menus .icon-item-menu {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
}

.side-left .shortcut .menus .item-menu:last-child {
    margin-top: 150px;
}
/* akhir side left */

/* side left admin profile */
.side-left .admin-profile {
    width: 240px;
    height: 800px;
    background: #fff;
    float: left;
}

.side-left .admin-profile .admin-picture img {
        width: 120px;
    height: 120px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(0,0,0,0.5);
    margin-top: 50px;
     object-fit: cover;
}

.side-left .admin-profile .admin-name {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;
    margin-top: 16px;
    margin-bottom: 0px;
    text-align: center;
}
/* akhir admin profile */
/* admin menus */
.side-left .admin-profile .admin-level {
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #b4b4bb;
    text-align: center;    
}
.side-left .admin-profile .admin-menus {
    margin-top: 50px;
    margin-left: -20px;
}

.side-left .admin-profile .admin-menus a {
    text-decoration: none;
}

.side-left .admin-profile li {
    display: block;
    padding-bottom: 50px;
    font-size: 19px;
    font-family: "Montserrat";
    color: #b4b4b4;
}
/* akhir admin menus */



/* akhir side left admin profile */

/* btn primary */
.btn-primary-tiketsaya {
    background: #203ddd;
    border: 0px;
    height: 35px;
    width: 120px;
    font-size: 16px;
    color: #fff;
    font-family: "Montserrat";
    margin-top: 30px;
}

.title-input-primary-username {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 300;
    color: black;
}

.input-type-primary-tiketsaya {
    background: #fafafa;
    border: 1px solid #ededed;
    color: black;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
}

.input-type-primary-tiketsaya:focus {
    background: #d9d7ff;
    border: 1px solid #ededed;
    color: #203ddd;
}
/* akhir btn primary */


/* global style */

/* header */
.header-sign-in{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* akkhir header */

/* form sign in */
.form-sign-in {
    background-color: #fff;
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 8px;
}

.form-sign-in .title-form{
     font-size: 20px;
     font-family: "Montserrat";
     font-weight: 500;
     margin: 0px;
}

.form-sign-in .subtitle-form{
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #b4b4b4;
}
/* akhir form sign in */



